services:
  zenoh_bridge:
    build:
      context: .
    image: openmindagi/limx_sdk:latest
    container_name: zenoh_bridge_limx
    network_mode: host
    privileged: true
    environment:
      - ROS_DISTRO=humble
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - CYCLONEDDS_URI=file:///app/limx_sdk/cyclonedds/cyclonedds.xml
    command: "zenoh-bridge-ros2dds -c /app/limx_sdk/zenoh/zenoh_bridge_config.json5"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped

  om1_sensor:
    build:
      context: .
    image: openmindagi/limx_sdk:latest
    container_name: om1_sensor
    network_mode: host
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/bus/usb:/dev/bus/usb
    privileged: true
    environment:
      - DISPLAY=${DISPLAY:-}
      - QT_X11_NO_MITSHM=1
      - OM_API_KEY=${OM_API_KEY:-}
      - OM_API_KEY_ID=${OM_API_KEY_ID:-}
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - CYCLONEDDS_URI=file:///app/limx_sdk/cyclonedds/cyclonedds.xml
    command: "ros2 launch tron_sdk sensor_launch.py"
    volumes:
      - /dev:/dev
      - /run/udev:/run/udev:ro
      - /sys:/sys:ro
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped
